.insurance-container {
  margin-top: 20px;
}

.insurance:not(:last-child) {
  margin-bottom: 15px;
}

.insurance-category{
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .education-experience-div{
    display: initial;
  }
}