.logo-div {
  max-width: 300px;
  margin: 20px auto;
}

.logo {
  width: 100%;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-header h1{
  font-size: 24px;
}

.home-emphasis{
  text-align: center;
  font-style: italic;
}

.intro-section {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.intro-text {
  width: 70%;
  margin-right: 30px;
  justify-content: space-between;
}

.greeting{
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.photo-div {
  width: 25%;
}

.intro-text {
  line-height: 25px;
}

.photo {
  width: 100%;
  border-radius: 5px;
}

.specialties-intro {
  margin-top: 40px;
}

.subtitle {
  text-align: center;
  color: #428b30;
  margin-bottom: 20px;
}

.specialty-text:not(:last-child) {
  margin-bottom: 15px;
}

.specialty-span {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  color: #428b30;
  display: inline;
  font-size: 16px;
}

.verse {
  font-style: italic;
}

.how-it-works {
  margin-top: 50px;
}

.how-it-works h5 {
  font-weight: 700;
}

.works-text:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .home-header{
    margin-bottom: 30px;
  }

  .intro-section {
    display: initial;
  }

  .photo-div {
    text-align: center;
    width: 100%;
  }

  .photo {
    width: 80%;
  }

  .intro-text {
    margin-top: 30px;
    width: 100%;
    margin-right: 30px;
  }
}