.navbar {
  background-color: #a6da9a;
}

.nav-links {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  letter-spacing: 2px;
  text-decoration: none;
  align-items: center;
  padding: 20px 40px;
  color: #428b30;
}

.nav-item:hover {
  color: #fff;
  background-color: #51a03f;
}
