.footer {
  background-color: #a6da9a;
  text-align: center;
  color: #428b30;
  padding: 30px 0;
  margin-top: 50px;
}

.footer a:visited {
  color: #428b30;
}

.footer-content {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-content h3 {
  font-weight: 700;
}

.emdria-img{
  width: 150px;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 700;
}

.privacy-link{
  color: #428b30;
  font-weight: 700;
  font-size: 18px;
}

.separator {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .footer-content h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .separator {
    display: none;
  }

  .contact-info {
    display: block;
  }
}