*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

html{
  background-color: #f4faef;
}

.app-container{
  padding-top: 61px;
  min-height: 600px;
}