@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}

.App {
  background-color: #f4faef;
}

.app-container {
  margin-top: 30px;
  min-height: 600px;
}

.section-container {
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  color: #428b30;
  text-align: center;
  font-weight: 700;
}

.contact-me-now{
  text-align: center;
  margin: 20px 0;
}

.contact-me-now p {
  font-weight: 700;
}

.contact-button{
  border: none;
  background-color: #428b30;
  padding: 15px;
  color: #f4faef;
}