.about-container {
  max-width: 800px;
  margin: 0 auto;

}

.about-header {
  text-align: center;
}

.education-experience-title {
  text-align: center;
  color: #428b30;
  margin: 40px 0 20px 0;
}

.education-experience-div {
  display: flex;
  justify-content: space-between;
}

.education-experience-subtitle {
  font-style: italic;
}

.education-experience-subtitle:not(:first-of-type) {
  margin-top: 5px;
}